<button *ngIf='!isLoggedIn()' (click)="signIn()">sign in</button>

<div *ngIf='isLoggedIn()'>
    <button (click)="signout()">Signout</button>
    <button (click)="accessspreadsheets()">accessspreadsheets</button>
    <button (click)="getspreadsheet()">findbyId</button>
    <button (click)="getdrivefile()">getdrivefile</button>
    <button (click)="reload()">Reload</button>
    <div style="width: 640px; height: 480px; position: relative;">

        <iframe src="https://drive.google.com/file/d/1ksyK3op12QlXmG9AmDvK0gZtQ8Tv-jKW/preview" id="iframe" allowfullscreen width="640" height="480"></iframe>

        <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;">&nbsp;</div>
    </div>
</div>